@media screen and (max-width: 600px) {
  .ignore {
    display: none;
  }

  header {
    position: sticky;
    top: 0;
  }

  .logo p {
    font-size: 1.6rem;
  }

  nav i {
    font-size: 1.6rem;
  }

  /* HOME SECTION */
  /* HOME SECTION */
  /* HOME SECTION */
  .home {
    flex-direction: column;
  }

  .home-image {
    padding-bottom: 5rem;
  }

  .intro-section {
    display: none;
  }

  .img img {
    display: none;
  }

  .home-text {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  .story-text p {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  .yt-section {
    height: 100%;
  }

  .newsletter-section {
    padding-bottom: 5rem;
  }

  .form-box {
    text-align: center;
    flex-direction: column;
  }

  /* .form-box > input {
    border-radius: 20px;
    padding: 10px;
    font-size: medium;
  } */

  .form-box button {
    margin-top: 10px;
  }
}
