@media screen and (max-width: 600px) {
    .ignore {
      display: none;
    }
  
    .logo p {
      font-size: 2rem;
    }
  
    nav i {
      font-size: 3rem;
    }
  
    /* HOME SECTION */
    /* HOME SECTION */
    /* HOME SECTION */
    .home {
      flex-direction: column;
    }
  
    .intro-section {
      display: none;
    }
  
    .img img {
      display: none;
    }
  
    .story-text p {
      font-size: 1.4rem;
    }
  
    .photo-box {
      height: 50vh;
      width: 300px;
      margin: 0 auto;
      margin-bottom: 5rem;
      border-radius: 5px;
      color: var(--white);
      box-shadow: 0 0 10px 10px;
      animation: slide 40s infinite linear;
    }
  
  }