@media screen and (max-width: 600px) {
  .ignore {
    display: none;
  }

  .logo p {
    font-size: 1.6rem;
  }

  nav i {
    font-size: 1.4rem;
  }

  /* HOME SECTION */
  /* HOME SECTION */
  /* HOME SECTION */
  .home {
    flex-direction: column;
  }

  .intro-section {
    display: none;
  }

  .img img {
    display: none;
  }

  .story-text p {
    font-size: 1.4rem;
  }

  .yt-section {
    height: 100%;
  }

  .form-box {
    text-align: center;
  }

  .form-box button {
    margin-top: 1rem;
  }
}
