@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: var(--black); */
  background-color: #0a0a0a;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #eee;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --black: #080100;
  --white: #eee;
}

/************* START HERE **************/
header {
  background-color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

header p {
  font-size: 2rem;
}

header ul {
  display: flex;
}

header ul li {
  margin: 2rem;
  font-size: 2rem;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: #eee;
}

.fa-instagram:hover {
  color: #cd486b;
  transition: all 0.3s;
}

.fa-linkedin:hover {
  color: #0e76a8;
  transition: all 0.3s;
}

.fa-github:hover {
  color: #4078c0;
  transition: all 0.3s;
}

.fa-youtube:hover {
  color: #ff0000;
  transition: all 0.3s;
}

/* HOME SECTION */

.home-section {
  background-color: #0a0a0a;
  padding: 5rem 0;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  width: 350px;
  border-radius: 4px;
  box-shadow: 0 0 10px 10px;
}

.home-text {
  width: 350px;
  top: 25rem;
  padding: 1.5rem;
  border-radius: 3px;

  text-align: center;
}

.home-text p {
  font-size: 2rem;
}

/************* INTRO SECTION *********/
/************* INTRO SECTION *********/
/************* INTRO SECTION *********/
.intro-section {
  background: url(./images/vsNCState.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 40vh;
}

/************** MY STORY SECTION *****************/
/************** MY STORY SECTION *****************/
/************** MY STORY SECTION *****************/

.title {
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.title h1 {
  color: var(--white);
  font-size: 4rem;
  font-weight: 500;
}

.story-text {
  width: 100%;
  text-align: center;
  padding-bottom: 3rem;
}

.story-text p {
  font-size: 2rem;
}

/**************** YouTube Vid Section ***************/
/**************** YouTube Vid Section ***************/
/**************** YouTube Vid Section ***************/
.yt-section {
  height: 55vh;
}

.yt-section h1 {
  color: var(--white);
  text-align: center;
  padding-top: 3rem;
  font-size: 4rem;
  font-weight: 500;
}

.contact-section {
  padding-bottom: 5rem;
  background-color: #191919;
}

.contact-section p {
  font-size: 2rem;
  text-align: center;
}

/**************** Newsletter Section ***************/
/**************** Newsletter Section ***************/
/**************** Newsletter Section ***************/

.email-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 10px 10px 15px red, -10 -10 15px blue; */
}

.form-box {
  padding: 10px;
  border-radius: 20px;
}

.form-box input {
  font-size: 18px;
  padding: 1.5rem 1rem;
  border-radius: 3px;
  border: none;
  outline: none;
}

.form-box button {
  padding: 1.2rem 2rem;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--white);
}

.form-box button:hover {
  color: var(--white);
  background-color: var(--black);
  transition: all 0.3s;
}
